:root {
    --bulma-info-h: 204; /* Bleu */
    --bulma-info-s: 86%; /* Couleur vive */
    --bulma-info-l: 53%; /* Luminosité moyenne */

    /* Variables héroïques définies à partir des valeurs info */
    --bulma-hero-h: var(--bulma-info-h);
    --bulma-hero-s: var(--bulma-info-s);
    --bulma-hero-background-l: var(--bulma-info-l);
    --bulma-hero-color-l: var(--bulma-info-invert-l); /* Exemple si défini à 90% */
    --primary: hsl(198deg, 100%, 70%);
    --primary-invert: hsl(198deg, 100%, 30%);
}

body{
    background-color: rgb(228, 233, 222); 
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.navbar-item .icon {
    margin-right: 5px;
}

#cart-count {
    background-color: #3273dc;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.navbar{
    background-color: rgb(228, 233, 222); 

}
.navbar-brand img{
    width: 52%;
}
.navbar-link, a.navbar-item{
    background-color: rgb(228, 233, 222);

}

.navbar-link, a.navbar-item:hover{
    background-color: rgb(228, 233, 222);
    color: black;

}

.content.has-text-centered, a.button.is-text:hover{
    background-color: hsl(198deg, 100%, 70%) ;
    color: black;
}


.columns.is-vcentered h1 {
    color: rgb(0, 0, 0); 
}

.columns.is-vcentered {
    padding-top: 60px;
}
.column.is-6 h1{
    color: black;
}

.title.is-5{
    color: black;
}

.rating{
    color: red;
}

.column.is-4 p{
    color: black;
}
.hero-body{
    background-color: var(--primary);
}
section.section{
    margin-bottom: -2px;
}

.section .featured-products{
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .box{
        width: max-content;
        display: inline-block;
        padding: 20px 145px 5px;
        margin-left: 150px;
    }
    .navbar-item, .navbar-link {
        align-items: center;
        display: flex;
        font-size: xx-large;
        color: black;
    }

    .footer {
        margin-top: 192px;
    }

    .box p{
        display: inline-table;
    }

    .box strong{
        display: inline-table;
    }
   .content{
    display: inline-block;
   }   
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 2294px;
   }
    .imagex img{
    width: 33%;
   }
   .columns.is-multiline {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    justify-content: space-;
   }

    .column.is-4{
        background-color: rgb(225, 220, 220);
        border: 31px  solid rgb(255, 255, 255);
        box-shadow: 10px 5px 12px  hsl(198deg, 100%, 70%);

    }
    .section .featured-products .container{
        background-color: white;
    }
    .product_section .box {
        position: relative;
        margin-top: 25px;
        background-color: rgb(255, 255, 255);
        box-shadow: 10px 5px 12px  hsl(198deg, 100%, 70%);
        -webkit-transition: all .3s;
        transition: all .3s;
        overflow: hidden;
        border: solid #fff 10px;
    }
    .row{
        display: flex;
        width: 45%;
    }
    .product_section .box .img-box{
        width: 107%;
        max-width: 100%;
    }

    .container>.navbar .navbar-brand, .navbar>.container .navbar-brand {
        margin-inline-start: -3.75rem;
    }



}
.select select:not([multiple]) {
    padding-inline-end: 2.5em;
    background-color: var(--primary);
}

@media (max-width: 767px) {

.row{
    width: 100%;
}


.select select {
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    max-width: 100%;
    outline: none;
    background-color:var(--primary);
    color: black;
    border: 1px solid var(--primary);
}

}

.title.is-1 {
    color: black;
    font-size: 2rem;
}
.button.is-fullwidth {
    display: flex;
    width: auto;
    background-color: var(--primary);
}


.input.input.is-medium{
    background-color: hsl(0, 0%, 47%);
}

.title.is-4 {
    color: black;
}

.footer .columns.is-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.footer{
    background-color: var(--primary) ;
}

.footer .columns .column {
    display: flex;
    justify-content: center;
}

.footer .columns .column a {
    margin: 0 10px; 
}

.footer .content.has-text-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-top: 20px; 
    color: black;
}

.footer .columns .column .button.is-text {
   color: black;
   text-decoration: none;
}
.footer .icon{
    color: red;
}
img {
    max-width: 100%;
    height: auto;

}
.container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}



.image-a img{
    box-shadow: 10px 5px 12px  hsl(198deg, 100%, 70%);
}

.image.is-4by3 .has-ratio, .image.is-4by3 img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: hsl(0, 0%, 89%);
}

.card-content:last-child, .card-footer:last-child, .card-header:last-child {
    border-end-end-radius: var(--bulma-card-radius);
    border-end-start-radius: var(--bulma-card-radius);
    background-color:  hsl(198deg, 100%, 70%);
}

.columns.is-multiline {
    flex-wrap: wrap;
    display: flex;
}

.column {
    display: block;
    flex: 1 1 0px;
    padding: 0.75rem;
    flex-basis: 1;
}


.container h1 {
    color: black;
    text-align: center;
    font-size: 40px;
}

.field .label{
    color: black;
}

.control .input{
    background-color: beige;
    color: black;
}

.product_section .heading_container {
    margin-bottom: 20px;
  }

.product_section .box {
      position: relative;
      margin-top: 25px;
      padding: 0px 35px;
      background-color: rgb(255, 255, 255);
      box-shadow: 10px 5px 12px  hsl(198deg, 100%, 70%);
      -webkit-transition: all .3s;
      transition: all .3s;
      overflow: hidden;
      border: solid #fff 10px;
}

.product_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 215px;
}

.product_section .box .img-box img {
    max-width: 100%;
    max-height: 277px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: white;
}

.product_section .box .detail-box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product_section .box .detail-box h5 {
    font-size: 18px;
    margin-top: 10px;
  }

  .product_section .box .detail-box h6 {
    margin-top: 10px;
    color: #002c3e;
    font-weight: 600;
  }

  .product_section .box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .product_section .box:hover .option_container {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .arrival_section {
      background-color: #d4ced0;
  }
  .product_section .option_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  .product_section .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product_section .options a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    width: 165px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 5px 0;
  }

  .product_section .options .option1 {
    background-color:  hsl(198deg, 100%, 70%);
    border: 1px solid   hsl(198deg, 100%, 70%);
    color: #ffffff;
  }

  .product_section .options .option1:hover {
    background-color: transparent;
    color:  hsl(198deg, 100%, 70%);
  }

  .product_section .options .option2 {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
  }

  .product_section .options .option2:hover {
    background-color: transparent;
    color: #000000;
  }

  .product_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
    margin-bottom: 57px;
  }

  .product_section .btn-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color:   hsl(198deg, 100%, 70%);
    border: 1px solid   hsl(198deg, 100%, 70%);
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

.product_section .btn-box a:hover {
    background-color: transparent;
    color:  hsl(198deg, 100%, 70%);
}



.product_section .heading_container h2 {
    margin-bottom: 36px;
    text-align: center;
}

.select select {
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    max-width: 100%;
    outline: none;
    background-color:  hsl(198deg, 100%, 70%);
    color: black;
    border: 1px solid  hsl(198deg, 100%, 70%);
}

.subtitle {
    color: var(--bulma-subtitle-color);
    font-size: var(--bulma-subtitle-size);
    font-weight: var(--bulma-subtitle-weight);
    text-align: center;
    line-height: var(--bulma-subtitle-line-height);
    margin-top: 18px;
}

.field .label{
    font-size: 1.3rem;
}

.section section{
    padding-left: 10px;
}


.footer .content.has-text-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  hsl(198deg, 100%, 70%);
}


#load-more{
    color: red;
     --primary: hsl(198deg, 100%, 70%);   ;
    
}