:root {
    --bulma-info-h: 204; /* Bleu */
    --bulma-info-s: 86%; /* Couleur vive */
    --bulma-info-l: 53%; /* Luminosité moyenne */

    /* Variables héroïques définies à partir des valeurs info */
    --bulma-hero-h: var(--bulma-info-h);
    --bulma-hero-s: var(--bulma-info-s);
    --bulma-hero-background-l: var(--bulma-info-l);
    --bulma-hero-color-l: var(--bulma-info-invert-l); /* Exemple si défini à 90% */
    --primary: hsl(198deg, 100%, 70%);
    --primary-invert: hsl(198deg, 100%, 30%);
}

body{
    background-color: rgb(228, 233, 222); 
     width: 100%;
     height: 100%;
     margin: 0;
    padding: 0;
       
    
}

.navbar-item .icon {
    margin-right: 5px;
}

#cart-count {
    background-color: #3273dc;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        position: absolute;
        width: 100%;
        box-shadow: 0 8px 16px rgba(10,10,10,.1);
    }
}


.navbar{
    background-color: rgb(228, 233, 222); 
    
}
.navbar-brand img{
    width: 35%;
}
.navbar-link, a.navbar-item{
    background-color: rgb(228, 233, 222);
    
}

.navbar-link, a.navbar-item:hover{
    background-color: rgb(228, 233, 222);
    color: black;
    
}

.content.has-text-centered, a.button.is-text:hover{
   
    color: black;
}


.columns.is-vcentered h1 {
    color: rgb(0, 0, 0); 
}

.columns.is-vcentered {
    padding-top: 60px;
}
.column.is-6 h1{
    color: black;
}

.title.is-5{
    color: black;
}

.rating{
    color: red;
}

.column.is-4 p{
    color: black;
}

section.section{
    margin-bottom: 126px;
}

.section .featured-products{
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .box{
        width: min-content;
        display: inline-block;
        padding: 20px 145px 5px;
        margin-left: 150px;
    }

    .box p{
        display: inline-table;
    }

    .box strong{
        display: inline-table;
    }
   .content{
    display: inline-block;
   }   
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 2294px;
   }
    .imagex img{
    width: 33%;
   }
   .columns.is-multiline {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    justify-content: space;
    margin-bottom: 10px;
   }

    .column.is-4{
        background-color: rgb(225, 220, 220);
        border: 31px  solid rgb(255, 255, 255);
        box-shadow: 10px 5px 12px hsl(171, 100%, 41%);
        
    }
    .section .featured-products .container{
        background-color: white;
    }
    .navbar-item, .navbar-link {
        align-items: center;
        display: flex;
        font-size: xx-large;
        color: black;
    }
    .column.is-6 p{
        font-size: 31px;
        margin-bottom: 10px;
    }
    .column.is-6 h1{
        font-size: 40px;
    }
    .column.is-8, .column.is-8-tablet {
        flex: auto;
        
    }
    .column.is-offset-2, .column.is-offset-2-tablet {
        margin-inline-start: 0
    }
    .control .input{
        width: 633px;
    }
    .button.is-fullwidth{
        width: 631px;
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--primary-invert);
        margin-left: 20px;
   
    }
    .field{
        display: flex;
    }
    form{
        margin-left: 239px;
    }
    .title:not(.is-spaced):has(+.subtitle) {
        font-size: 40px;
    }
    .subtitle.is-4 {
        font-size: 31px;
    }
    .column.left p{
        font-size: 25px;
    }
    p.description {
        font-size: 27px;
        
    }
    .footer{
        margin-top: 97px;
        height: 26%;
    }
   
    .footer .content.has-text-centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        height: 20%;
    }

    .footer .columns.is-mobile {
        font-size: -webkit-xxx-large;
    }

    .footer .columns .column .button.is-text {
        color: black;
        text-decoration: none;
        font-size: 27px;
        background-color: hsl(198deg, 100%, 70%);
    }


    figure.image-a img{
        box-shadow: 44px 66px 13px hsl(198deg, 100%, 70%); 
    }
    
}


.title.is-1 {
    color: black;
    font-size: 3rem;
}


.input.input.is-medium{
    background-color: hsl(0, 0%, 47%);
}

.title.is-4 {
    color: black;
}

.footer .columns.is-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.footer{
    background-color: hsl(198deg, 100%, 70%)
}

.footer .columns .column {
    display: flex;
    justify-content: center;
}

.footer .columns .column a {
    margin: 0 10px; 
}

.footer .content.has-text-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-top: 20px; 
    color: black;
}

.footer .columns .column .button.is-text {
   color: black;
   text-decoration: none;
}

.footer .icon{
    color: red;
}

img {
    max-width: 100%;
    height: auto;
    
}

.field{
    margin: 20px;
}



.column.is-6 {
    box-shadow: rebeccapurple;
}

@media (max-width: 767px) {
    .button.is-fullwidth{
        margin: 20px;
        width: 91%;
        background-color: var(--primary);
        border-color: var(--primary);
        
    }

    figure.image-a img{
        box-shadow: 16px 8px 15px hsl(198deg, 100%, 70%); 
    }
    body{
        margin: -11px;
    }
}

.button.is-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color:rgb(228, 233, 222);
        box-shadow: 0px 7px 32px hsl(198deg, 100%, 70%);;
        padding: .5rem 0;
        color: black;
    }
    .navbar-item, .navbar-link {
        color: black;
        display: block;
        line-height: 1.5;
        padding: .5rem .75rem;
        position: relative;
    }

    body{
        background-color: rgb(228, 233, 222); 
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        
        
    }


}
